@model EmployeesAccounting.Models.Department

@{
    ViewBag.Title = "DetailsOfDepartment";
}

<h2>Details</h2>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfAdding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfAdding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateInfoChanging)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateInfoChanging)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditDepartment", new { id = Model.DepartmentId }) |
    @Html.ActionLink("Back to List", "ShowDepartments")
</p>
