@model IEnumerable<EmployeesAccounting.Models.Employee>

@{
    ViewBag.Title = "ShowEmployees";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateEmployee")
</p>
<table class="table">
    <tr>
        <th>
            Department Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfAdding)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateInfoChanging)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfEmployment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Department.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfAdding)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateInfoChanging)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfEmployment)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditEmployee", new { id=item.EmployeeId }) |
            @Html.ActionLink("Details", "DetailsOfEmployee", new { id=item.EmployeeId }) |
            @Html.ActionLink("Delete", "DeleteEmployee", new { id=item.EmployeeId })
        </td>
    </tr>
}

</table>
